html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type='button'],[type='reset'],[type='submit']{-webkit-appearance:button}button::-moz-focus-inner,[type='button']::-moz-focus-inner,[type='reset']::-moz-focus-inner,[type='submit']::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type='button']:-moz-focusring,[type='reset']:-moz-focusring,[type='submit']:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type='checkbox'],[type='radio']{box-sizing:border-box;padding:0}[type='number']::-webkit-inner-spin-button,[type='number']::-webkit-outer-spin-button{height:auto}[type='search']{-webkit-appearance:textfield;outline-offset:-2px}[type='search']::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/*<< color palette >>*/
  /* raisin black: #262730 */
  /* ocean green: #77BA99 */
  /* beige: #EFF0D1 */
  /* thistle: #D7C0D0 */
  /* english vermillion: #D33F49 */

/*<< font families >>*/
  /* east sea dokoko: 400, 500, cursive */
  /* roboto: 400, 500, sans-serif */

/**********************/
/*<< general styles >>*/
/**********************/
html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Stripping Styles */
h1,
h2, 
h3,
p,
a,
ol,
button {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

ol {
  list-style: none;
}

/* wrapper */
.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/******************/
/*<< typography >>*/
/******************/
.App {
  font-family: 'East Sea Dokdo', cursive;
  background: #262730;
  font-size: 4rem;
  line-height: 1;
  padding: 10px 0;
  min-height: 100vh;
  text-shadow: 2px 2px #D7C0D0;
  position: relative;
  overflow-x: hidden;
}

header,
main,
footer {
  background: #77BA99;
  color: #262730;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid #D7C0D0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
}

main {
  background: #EFF0D1;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 7.5rem;
}

a {
  color: #262730;
}

a:hover,
a:focus {
  color: #D33F49;
}

button {
  font-size: 2.4rem;
  background: #262730;
  color: #EFF0D1;
}

button:focus,
button:hover {
  background: #D7C0D0;
  color:  #262730;
  cursor: pointer;
}

/***********************/
/*<< recently viewed >>*/
/***********************/

.screenDark {
  position: absolute;
  top: 0;
  width: 70%;
  min-height: 100%;
  height: 100%;
  z-index: 10;
  background:  rgba(38, 39, 48, 0.9);
  transition: all 0.3s;
}

.screenDarkHidden {
  left: -100%;
}

.screenDarkShow {
  left: 0;
}

.recentlyViewed {
  position: absolute;
  top: 0;
  width: 30%;
  min-height: 100%;
  z-index: 10;
  background: #D7C0D0;
  padding: 10px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.recentlyViewedHidden {
  right: -100%;
}

.recentlyViewedShow {
  right: 0;
}

.closeList {
  height: 40px;
  width: 40px;
  box-shadow: 2px 2px  #EFF0D1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeList i {
  color: #EFF0D1;
}

.closeList:hover,
.closeList:focus {
  background: #77BA99;
  box-shadow: 2px 2px #262730;
}

.recentlyViewed h2 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px #EFF0D1;
  font-size: 4.6rem;
  margin: 0;
}

ol {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ol button {
  padding: 5px;
  background:  #EFF0D1;
  color:  #262730;
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
}

ol button:hover,
ol button:focus {
  background: #77BA99;
  box-shadow: 2px 2px #262730;
  transform: scale(1.02);
  cursor: pointer;
}


ol li span {
  font-size: 1.6rem;
}

/**************/
/*<< header >>*/
/**************/
header {
  margin-bottom: 10px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-weight: bold;
}

/************/
/*<< Main >>*/
/************/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 100%;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

input[type="number"] {
  margin-left: 10px;
  max-width: 70px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: none;
  text-align: center;
  background: #D7C0D0;
}

input[type="number"]:invalid {
  box-shadow: none;
}

.searchBar button {
  background: none;
  color: #262730;
  margin: 0 0 0 10px;
}

.searchBar button:hover,
.searchBar button:focus {
  background: #D7C0D0;
}

.buttonBar {
  max-width: 504.4px;
  display: flex;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
}

.displayComic {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
time,
h3 {
  margin: 5px;
}

time {
  font-size: 3rem;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.imageContainer {
  position: relative;
}

.overlay {
  background: rgba(38, 39, 48, 0.96);
  color: #EFF0D1;
  position: absolute;
  top:0;
  min-width: 100%;
  min-height: 100%;
  padding: 10px;
  text-shadow: none;
  font-size: 2rem;
  display: none;
}

/**************/
/*<< footer >>*/
/**************/
footer {
  margin-top: 10px;
  text-align: center;
}

footer a:first-of-type {
  font-weight: bold;
}

/*********************/
/*<< media queries >>*/
/*********************/
@media(max-width: 940px) {
  /*<< general styles >>*/
  .wrapper {
    width: 85%;
  }

  .App {
    font-size: calc(1.8rem + (100vw - 320px)*((40 - 18)/(940 - 320)));
  }

  /*<< recently viewed styles >>*/
  .screenDark {
    width: 60%;
  }

  .recentlyViewed {
    width: 40%;
  }

  ol button {
    font-size: calc(2rem + (100vw - 769px)*((24 - 20)/(940 - 768))); 
  }

  ol li span {
    font-size: calc(1.4rem + (100vw - 769px)*((16 - 14)/(940 - 768))); 
  }

  /*<< header styles >>*/

  h1 {
    font-size: calc(4rem + (100vw - 320px)*((50 - 40)/(940 - 320)));
  }

  /*<< main styles >>*/
  .searchBar button,
  .searchBar {
    font-size: calc(1.4rem + (100vw - 320px)*((24 - 16)/(940 - 320)));
    padding: calc(3px + (100vw - 320px)*((5 - 3)/(940 - 320))) calc(6px + (100vw - 320px)*((10 - 6)/(940 - 320)));
  }

  .buttonBar button {
    font-size: calc(1.6rem + (100vw - 320px)*((24 - 16)/(940 - 320)));
    padding: calc(3px + (100vw - 320px)*((5 - 3)/(940 - 320))) calc(6px + (100vw - 320px)*((10 - 6)/(940 - 320)));
    margin: 0 calc(2.5px + (100vw - 320px)*((10 - 2.5)/(940 - 320)));;
  }

  h2 {
    font-size: calc(2.4rem + (100vw - 320px)*((40 - 24)/(940 - 320)));
  }

  time {
    font-size: calc(2.2rem + (100vw - 320px)*((30 - 22)/(940 - 320)));
  }

  h3 {
    font-size: calc(4.4rem + (100vw - 320px)*((75 - 44)/(940 - 320)));
  }

  .overlay {
    font-size: calc(1.4rem + (100vw - 320px)*((20 - 14)/(940 - 320)));
  }

}

@media(max-width: 768px) {
  /*<< general styles >>*/
  .wrapper {
    width: 90%;
  }

  .App {
    text-shadow: 1px 1px #D7C0D0;
  }
  
  /*<< recently viewed styles >>*/
  .screenDark,
  .recentlyViewed {
    width: 50%;
  }

  .recentlyViewed h2 {
    font-size: calc(3.8rem + (100vw - 481px)*((46 - 38)/(768 - 480)));
  }

  ol button {
    font-size: calc(1.8rem + (100vw - 481px)*((20 - 18)/(768 - 480))); 
  }

  ol li span {
    font-size: calc(1.2rem + (100vw - 481px)*((14 - 12)/(768 - 480))); 
  }
}

@media(max-width: 480px) {
  /*<< general styles >>*/
  .wrapper {
    width: 95%;
  }

  header,
  main,
  footer {
    padding: 5px;
  }

  /*<< recently viewed styles >>*/
  .screenDark {
    width: 25%;
  }

  .recentlyViewed {
    width: 75%;
  }

  .recentlyViewed h2 {
    font-size: 3.8rem;
    /* margin-top: 10px; */
  }

  ol {
    margin-top: 10px;
  }

  ol li span {
    font-size: 1.2rem;
  }

  /*<< main >>*/
  input[type="number"] {
    max-width: 45px;
    margin-left: 5px;
  }

  .searchBar button {
    margin-left: 5px;
  }

  .displayComic {
    margin: 10px 0;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    margin-bottom: 10px;
  }

}


